{% if session['type'] == "Student"%}
{% extends "base3.html" %}
{% else %}
{% extends "base2.html" %}
{% endif %}
{% block content %}
<div class="container">
	<h2>Change Password</h2>
	<form action="" method="POST" novalidate>
		{{ form.hidden_tag() }}
		<label for="currentPas"><b>Current Password</b></label>
		<br>
		{{ form.currentPas }}
		<p>
			{% for e in form.currentPas.errors %}
			<ul>
				<li style="color:red;">{{ e }}</li>
			</ul>
			{% endfor %}
		</p>
		<br>
		<label for="newPas"><b>New Password</b></label>
		<br>
		{{ form.newPas }}
		<p>
			{% for e in form.newPas.errors %}
			<ul>
				<li style="color:red;">{{ e }}</li>
			</ul>
			{% endfor %}
		</p>
		<br>
		<label for="confirmpass"><b>Repeat Password</b></label>
		<br>
		{{ form.confirmpass }}
		<p>
			{% for e in form.confirmpass.errors %}
			<ul>
				<li style="color:red;">{{ e }}</li>
			</ul>
			{% endfor %}
		</p>
		<br>
		<p>{{ form.submit }}</p>
	</form>
</div>
{% endblock %}