{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}

  <form method="POST" enctype="multipart/form-data" action="" style="border: 1px solid #ccc;" novalidate>
    <div class="container">
      {{ form.hidden_tag() }}
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
<div class="form-field">
  <label for="name"><b>Name</b></label>
  <br>
  {{ form.name(class_='form-input') }}
  {% for e in form.name.errors %}
    <p class="form-error">{{ e }}</p>
  {% endfor %}
</div>

<div class="form-field">
  <label for="number"><b>Student Number</b></label>
  <br>
  {{ form.number(class_='form-input') }}
  {% for e in form.number.errors %}
    <p class="form-error">{{ e }}</p>
  {% endfor %}
</div>

<div class="form-field">
  <label for="faculty"><b>Faculty</b></label>
  <br>
  {{ form.faculty(class_='form-input') }}
  {% for e in form.faculty.errors %}
    <p class="form-error">{{ e }}</p>
  {% endfor %}
</div>

<div class="form-field">
  <label for="course"><b>Current Course</b></label>
  <br>
  {{ form.course(class_='form-input') }}
  {% for e in form.course.errors %}
    <p class="form-error">{{ e }}</p>
  {% endfor %}
</div>

<div class="form-field">
  <label for="ID"><b>ID Number</b></label>
  <br>
  {{ form.ID(class_='form-input') }}
  {% for e in form.ID.errors %}
    <p class="form-error">{{ e }}</p>
  {% endfor %}
</div>

<div class="form-field">
  <label for="email"><b>Email</b></label>
  <br>
  {{ form.email(class_='form-input') }}
  {% for e in form.email.errors %}
    <p class="form-error">{{ e }}</p>
  {% endfor %}
</div>

<div class="form-field">
  <label for="password"><b>Password</b></label>
  <br>
  {{ form.password(class_='form-input') }}
  {% for e in form.password.errors %}
    <p class="form-error">{{ e }}</p>
  {% endfor %}
</div>

<div class="form-field">
  <label for="confirmpass"><b>Confirm Password</b></label>
  <br>
  {{ form.confirmpass(class_='form-input') }}
  {% for e in form.confirmpass.errors %}
    <p class="form-error">{{ e }}</p>
  {% endfor %}
</div>

<div class="form-field">
    <input type="hidden" name="MAX_FILE_SIZE" value="5242880">
    <label for="file"><b>Résumé</b></label>
    {{form.file}}
    {% for e in form.file.errors%}
    <p class="form-error">{{ e }}</p>
    {% endfor %}
</p>
<p>Only PDF is Allowed. Maximum file size: 5 MB.</p>
<br>

<div class="clearfix">
  <button type="submit" class="signupbtn">Sign Up</button>
</div>
</div>
</form>
<p><a href="{{url_for('login')}}" style="background-color: #3e7741; color: #e0e0e0; padding: 10px; border-radius: 5px; text-decoration: none;">Go to Login</a></p>
{% endblock %}